body {
 	display: flex;
	flex-direction: column; 
}
header, footer {
	height: 20vh; /*you can use pixels e.g. 200px*/
	background-color: yellow;
}
main {
	flex: 1;
	display: flex;
	
}
nav, aside {
 	width: 20vw;
 	background-color: red;
}
article {
	flex: 1;
	background-color: grey;
}
nav {
	order: -1;
}